.header {
    height: 80px;
    background-color: var(--darker-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.title {
    font-size: 1.5rem;
    color: var(--blue); 
    margin: 0;
}