.area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.title {
    
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px; 
    background-color: var(--background-hover);
    border-radius: 10px;
    width: 300px;
}
.itemContent{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
}
.number {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
}
.icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.itemContent p {
    min-width: 115px;
}