.area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.title {
    color: #888;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 20px; 
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.00);
    border-radius: 10px;
    width: 340px;
}
.itemCompleted{
    background-color: rgba(59, 130, 246, 0.2);
    border: 1px solid rgba(59, 130, 246, 0.5);
}
.itemContent{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 20px;
}
.number {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
    color: #888;
}
.icon {
    width: 20px;
    height: 20px;
}
.itemContent p {
    min-width: 115px;
}

.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltipIcon {
    width: 14px;
    height: 14px;
    cursor: pointer;
    opacity: 0.4;
}

.tooltipText {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 16px 20px;
    width: 240px;
    opacity: 0;
    transition: opacity 0.15s;
    margin-right: 10px;
}

.tooltipText::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
}

.showTooltip {
    visibility: visible;
    opacity: 1;
}