.leftPane {
    display: flex;
    flex-direction: column;
    background: var(--background-secondary);
    border-right: 1px solid var(--border);
    width: 50%;
    min-height: calc(100vh - 80px); /* Subtract header height */
}

/* Mobile layout */
@media (max-width: 768px) {
    .leftPane {
        width: 100%;
        gap: 10px;
        border-right: none;
        /* border-bottom: 1px solid var(--border); */
        border: none;
        min-height: 0
    }
}