.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20vh;
    z-index: 1000;
}

.modalContent {
    background: var(--background-hover);
    border-radius: 12px;
    padding: 24px;
    width: 90%;
    max-width: 400px;
    animation: slideUp 0.15s ease-out;
}
.modalBody{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.modalHeader h2 {
    margin: 0;
    font-size: 1.5rem;
}

.closeButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.closeButton:hover {
    opacity: 0.8;
}

.inputGroup {
    display: flex;
    gap: 12px;
}

.input {
    flex: 1;
    padding: 12px;
    border: 1px solid var(--border-color, #333);
    border-radius: 8px;
    background: var(--input-background);
    color: var(--text-color);
}

.input:hover {
    border-color: var(--border-hover-color, #555);
}

.input:focus {
    outline: none;
    border-color: var(--border-focus-color, #666);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.select {
    padding: 12px;
    border: 1px solid var(--border-color, #333);
    border-radius: 8px;
    background: var(--input-background);
    color: var(--text-color);
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M2.5 4.5L6 8L9.5 4.5' stroke='%23888' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding-right: 36px;
    min-width: 50px;
}

.select:hover {
    border-color: var(--border-hover-color, #555);
}

.select:focus {
    outline: none;
    border-color: var(--border-focus-color, #666);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.recommendation {
    color: var(--text-secondary);
    font-size: 0.9rem;
    min-height: 22px;
    cursor: pointer;
}

.recommendation:hover {
    text-decoration: underline;
}

.depositButton {
    width: 100%;
    padding: 12px;
    background: white;
    color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
}

.depositButton:hover {
    opacity: 0.7;
}

.error {
    color: indianred;
}

.message {
    color: white;;
}

.txLink{
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}
.txLink:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .modalContent{
        max-width: 90%;
    }
}