.console{
    display: flex;
    flex-direction: column;
}

.startMiningButton{
    background-color: var(--text-primary);
    color: var(--background);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: 600;
    transition: background-color 0.2s;
}

.startMiningButton:hover{
    background-color: var(--white-hover);
}

.stopMiningButton{
    background-color: var(--secondary-button-color);
    color: var(--text-primary);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: 600;
    transition: background-color 0.2s;
}

.stopMiningButton:hover{
    background-color: var(--secondary-button-hover);
}

.buttonContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.clearLogButton {
    padding: 10px;
    background-color: var(--text-primary);
    color: white;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    align-content: center;
    height: 44px;
    font-size: .8em;
    transition: background-color 0.2s;
}

.clearLogButton:hover {
    background-color: var(--white-hover);
}

/* Make sure your existing button styles are preserved */
.startMiningButton, .stopMiningButton {
    flex: 1;
}